<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/bootstrap.min.css"/>
        <link rel="stylesheet" href="styles/main.css" />

    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <h1>Välkommen!</h1>
                    <p>Våra produkter</p>
                    <ul id="products">
                    </ul>
                </div>
                <div id="details" class="span4"></div>
                <div class="span4">
                    <h2>Din varukorg</h2>
                    <ul id="cart"/>
                </div>
            </div>
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/backbone-min.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/views/productsView.js"></script>
        <script src="scripts/views/productDetailView.js"></script>
        <script src="scripts/views/cartView.js"></script>
        <script src="scripts/models/productModel.js"></script>
        <script src="scripts/models/cartModel.js"></script>
        <script src="scripts/collections/productCollection.js"></script>
        <script src="scripts/collections/cart.js"></script>
        <script src="scripts/routes/application-router.js"></script>
        <!-- endbuild -->
        
        <script type="text/template" id="productsTemplate">
            <%= name %>, <%= description %> (<%= inStock %>)
        </script>

        <script type="text/template" id="productDetailTemplate">
            <h3><%= name %></h3>
            <div><img src="<%= imgSrc %>"/></div>
            <div>
                <h4>Beskrivning</h4>
             <%= description %>
             <h5>I lager: <%= inStock %>
            </div>
            <button id="addToCart" class="btn">Lägg i korgen</button>
        </script>

         <script type="text/template" id="cartTemplate">
            <%= name %>, <%= count %>
        </script>

    </body>
</html>
