<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/bootstrap.min.css"/>
        <link rel="stylesheet" href="styles/main.css" />

    </head>
    <body>
        <h1>Välkommen till Cadec tutorial!</h1>

        <div id="products"></div>

        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/backbone.js"></script>

        <script src="scripts/main.js"></script>
        <script src="scripts/routes/application-router.js"></script>
        <script src="scripts/models/productModel.js"></script>
        <script src="scripts/collections/productCollection.js"></script>
        <script src="scripts/views/productsView.js"></script>
       
        <script type="text/template" id="productsTemplate">
            <div class="span4" class="fruitItem ">
                <div style="align:center;"><img src="images/fruits/mini-<%= imgSrc %>"/></div>
                <div><%= name %>,<br/><%= description %><br/>I lager: <%= inStock %></div>
            </div>
        </script>


<script>

    var orange = new cadec.Models.ProductModel();
    console.log(orange);
    orange.set('inStock', 10);
    orange.set({inStock: 20});

    orange.set({name: 'Oranges', description: 'From sunny California'});
    orange.save({}, {
        success: function( orange ) {
            console.log('%s with id %s was saved to the server', orange.get('name'), orange.id);
        }
    });


    var apple = new cadec.Models.ProductModel({id:1});
    apple.fetch({
        success: function ( apple) {
            console.log('Fetched from server: %s', apple.get('name'));
        }
    });

    apple.set('name', 'Granny Smith');
    apple.save({}, {
        success: function ( apple ) {
            console.log(apple.get('name') + ' posted to server.');
        }
    });

    var lemon = new cadec.Models.ProductModel({name:'Lemon'});
    lemon.save({}, {
        success: function( lemon ) {
            console.log('Success! %s', lemon.id);
        },
        error: function( lemon, error ) {
            console.log('Validation error - "%s"', error);
        }
    });

    var fruits = new cadec.Collections.ProductCollection([apple, orange]);
    console.log('fruits.size(): ' + fruits.size());
    fruits.forEach(function(model){
        console.log('fruits.forEach - ' + model.get('name'));
    });

    var fruitsalad = new cadec.Collections.ProductCollection();
    fruitsalad.fetch({
        success: function(fruitsalad, response) {
                    fruitsalad.forEach(function(model){
                        console.log('fruitsalad.forEach - ' + model.get('name'));
                    });
                }
    });

</script>        
    </body>
</html>
